.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;
    img.pull-right {
        width: 50px;
    }
}

// injector
// endinjector
body,
html,
main {
    /* important */
    font-family: 'Open Sans', sans-serif;
 
}



.backgroundctn {
    
    background-image: url("http://i58.tinypic.com/k9avb6.jpg");
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;  
   
}


.mask {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    background-color: #eb9565; 
    opacity: 0.5; 
}


.cd-fixed-bg.cd-bg-1 {
    padding-bottom: 5%;   
}


video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

.whitelogo {
    overflow: hidden;
    margin-left: 2%;
    margin-bottom: 2%;
    text-align: center;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 1px;
}

.whitelogo p {
    font-size: 2.5em;
    margin: 0;
}

.loginform {
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    width: 23em;
    height: 28em;
    padding: 30px;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    text-align: center;
}

.fieldsettings {
    padding: 5em 6% 2%;
}


.clientlist h1 {
    text-align: center;
    display: block;
    color: #fff;
}

.addclient-submitbtn {
    text-align: center;
}


.newclienteven {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 1em;
    margin-left: 10%;
    padding: 2em;
    width: 80%;
    font-weight: 400;  
    color: #fff;
    line-height: 3ex;
    letter-spacing: 0.1ex;
}

.clientname{
    font-size: 1.3em;  
}
.btn {
    border-radius: 0;
}

input {
    border-radius: 0;
    margin-top: 1ex;
}

.deletebtn,
.newvisitbtn {
    margin-top: 1em;
    border-radius: 0;
}

form a:hover {
    color: #fff;
    text-decoration: none;
}

.fblogin {
    font-size: 1.3em;
    color: #fff;
    font-weight: 200;
    margin-top: 2.5ex;
    line-height: 3ex;
    }


.sitterbtn {
    margin-top: 2.4ex;
    background-color: cornflowerblue;
    color: #fff;
    font-size: 1.3em;
    opacity: 0.7;
    font-weight: 300;
}

.sitterbtn:hover {
    cursor: pointer;
    opacity: 1;
}

.flogin-icon {
  background-color: #3b5998;
  padding: 0.5em 1em;
  float: left;
  display: inline-block;
}

.flogin-text {
    display: inline-block;
    padding: 0.5em;
}
.clients {
    clear: both;
}

.newvisitctn {
    height: 160%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 4em;
    padding-bottom: 3em;
    padding-left: 4em;
    margin-top: 1em;
    margin-bottom: 13%;
}

.test {
    height: 160%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2em 4em 2em;    
    margin-top: 1em;
    
}

label {
    color: lightgray;
    font-size: 1.2em;
}


.newvisit-submitbtn {
    text-align: center;
    box-sizing: border-box;
    clear: both;
    padding-top: 3ex;
}

.checkbox {
    padding-bottom: 0.5em;
}


/**********Media Query*********/

@media screen and (max-width:768px) {
    
    .mainctn {
    background-image: url("http://i61.tinypic.com/2dma8nq.jpg");
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
    padding-top: 1em;  
        padding-bottom: 3em;
    }
    
   .mask {
       display: none;
       
   }
    video#bgvid{
        display:none;
    } 
}

@media screen and (max-width: 481px) {

   
    .cd-fixed-bg {
        margin-left: -15px;
        margin-right: -15px;               
}
    .newvisitctn {
        padding-left: 0;
        margin-bottom: 30%;
    }
}

@media screen and (max-width: 321px) {
    
    .loginform {
    margin-top: 8em;
    width: 21em;
    height: 27em;
    padding: 2em 1em 0;
}
}