
<div class="backgroundctn about container-fluid">

    <section id="users" style="padding-top: 5em; text-align: center; padding-bottom:0.5em" >
    <hr>
        <div>
            <h2 style="color: #fff">About Us</h2>
        </div>
    <hr>
    </section>
    
    <div class="row">
        <div class="col-md-6 col-sm-11">
            <div class= "about-row row">
                <div class="col-md-2">
                    <img style="height: 170px; width: 100px; border-radius: 100px;" src="http://i59.tinypic.com/jgp05w.jpg">
                </div>
                <div class="col-md-8 col-md-offset-2"> 
                    <p style="color: white">Hi! My name is Carolina Powers. I am a mom, a wife, a dog owner and a front end developer. This is my final project </p>
                </div>
            </div>
        </div>
   </div>
   
    <div class="row">
       <div class="col-md-6 col-md-offset-5 col-sm-11">
            <div class= "about-row2">
                <div class="col-md-2">
                    <img style="height: 170px; width: 100px; border-radius: 100px;" src="http://i59.tinypic.com/jgp05w.jpg">
                </div>
                <div class="col-md-8 col-md-offset-2"> 
                    <p style="color: white">Hi! My name is Carolina Powers. I am a mom, a wife, a dog owner and a front end developer. This is my final project </p>
                </div>
            </div>
        </div>
    </div>
    
      <div class="row">
        <div class="col-md-6 col-xs-11">
            <div class= "about-row row">
                <div class="col-md-2">
                    <img style="height: 170px; width: 100px; border-radius: 100px;" src="http://i59.tinypic.com/jgp05w.jpg">
                </div>
                <div class="col-md-8 col-md-offset-2"> 
                    <p style="color: white">Hi! My name is Carolina Powers. I am a mom, a wife, a dog owner and a front end developer. This is my final project </p>
                </div>
            </div>
        </div>
   </div>
    
       
</div>


