<div class="blue-mask"></div>
<div class="container-fluid backgroundctn cd-fixed-bg cd-bg-1 ">

    <form name="formHorizontal" class="formHorizontal" ng-submit="formHorizontal.$valid && client.addClient(client.newClient)" novalidate>

        <fieldset class="fieldsettings">
            <div class="row ">
                <a href=" " ng-show="show " ng-click="show=! show " class="col-md-11 pull-right ">
                    <button id="Cancel " name="Cancel " class="btn btn-danger btn-lg pull-right ">cancel</button>
                </a>
                <a href=" ">
                    <button ng-hide="show " ng-click="show=! show " class="btn btn-lg btn-success newClient pull-right ">add client</button>
                </a>
            </div>

            <div class="test" ng-show="show">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="col-md-">
                            <input ng-model="client.newClient.name" id="name" name="name" type="text" placeholder="Full Name" class="form-control input-md ng-pristine ng-invalid" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="pet">Pet's Name</label>
                        <div class="">
                            <input ng-model="client.newClient.pet" id="pet" name="pet" type="text" placeholder="Pet's Name" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="email">Email</label>
                        <div class="">
                            <input ng-model="client.newClient.email" id="email" name="email" type="email" placeholder="email@example.com" class="form-control input-md" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="phone">Phone Number</label>
                        <div class="">
                            <input ng-model="client.newClient.phone" id="phone" name="phone" type="text" placeholder="555-867-5309" class="form-control input-md">
                        </div>
                    </div>
                </div>



                <div class="col-md-2">
                </div>


                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label" for="address">Street Address</label>
                        <div class="">
                            <input ng-model="client.newClient.street" id="address" name="address" type="text" placeholder="123 Street Name" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="city">City</label>
                        <div class="">
                            <input ng-model="client.newClient.city" id="city" name="city" type="text" placeholder="City Name" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="state">State</label>
                        <div class="">
                            <input ng-model="client.newClient.state" id="state" name="state" type="text" placeholder="State" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="zip">Zip Code</label>
                        <div class="">
                            <input ng-model="client.newClient.zip" id="zip" name="zip" type="text" placeholder="Zip Code" class="form-control input-md">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="addclient-submitbtn">
                        <button ng-click="show = !show" id="Submit" name="Submit" class="btn btn-primary btn-lg">submit</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>



<div class="clientscontainer cd-fixed-bg cd-bg-1 ">
    <hr>
    <span class="clientlist"><h1>Clients</h1></span>
    <hr>
    <!-- <a href="">
        <button class="btn btn-lg btn-success newClient pull-right">new client</button>
    </a> -->
    <div ng-repeat="clients in client.obj" class=" col-md-6 cd-fixed-bg cd-bg-1">
        <div class="cd-bg-1 newclienteven">
            <div class="cd-scrolling-bg cd-color-2">
                <p class="clientname"><big><strong>{{ clients.name }}</strong></big></p>
                <p><strong>Pet:</strong> {{ clients.pet }}</p>
                <p><strong>Phone:</strong><a class="clientAtag" href="tel: {{ clients.phone }}">{{clients.phone}}</a></p>
                <p><strong>E-mail:</strong><a class="clientAtag" href="mailto: {{clients.email}}"> {{ clients.email }}</a></p>
                <p><strong>Address:</strong><a class="clientAtag" href="http://maps.google.com/?q={{ clients.street }} {{ clients.city }} {{clients.state}} {{clients.zip }}">{{ clients.street }} {{ clients.city }} {{clients.state}} {{clients.zip }}</a></p>
                <a ui-sref="newvisit({user: client.user.$id, clientId: clients.$id}) " class="btn btn-md btn-info newvisitbtn">new visit</a>
                <a ng-click="client.deleteClient(clients) " class="btn btn-md btn-danger deletebtn">delete</a>
                </p>
            </div>
        </div>

    </div>
</div>
</div>