<h2>Customer Database</h2>

<form ng-submit="client.addClient(client.newClient)">
    <input ng-model="client.newClient.name" name="name" placeholder="Client Name" class="password" required />
    <input ng-model="client.newClient.email" name="emailaddress" placeholder=" Client E-mail" class="e-mail" type="e-mail" required />

    <input name="submit" class="btn" type="submit" value="Add client" ng-click="app.login()" />

</form>


<hr>
<div ng-repeat="client in client.obj" class="row">
    <div class="cust">
        <a href="#/customers/{{ customer.$id }}"><h4>{{ client.name }} {{ customer.firstName }} </h4></a>
        <p>{{ customer.pet }}</p>
        <p>{{ customer.phone }} {{ client.email }}</p>
        <p>{{ customer.address.street }} {{ customer.address.city }} {{customer.address.zip }}</p>
        <a ng-href="#/customers/{{ customer.$id }}" ng-click="editCustomer(customer)" ng-show="signedIn() && customer.creatorUID === user.uid">
            <button class="btn btn-lg btn-info">edit info</button>
        </a>
        <a ng-href="" ng-click="newVisit(customer)" ng-show="signedIn() && customer.creatorUID === user.uid">
            <button class="btn btn-lg btn-success pull-right">new visit</button>
        </a>
    </div>

</div>

</div>
</div>