
<div class="mainctn">
<div class="video-container maindiv">
        <div class="mask"></div>
        <video autoplay loop poster="polina.jpg" id="bgvid">
            <source src="http://res.cloudinary.com/jaredstevick/raw/upload/v1427133847/ncmnv3oglnmt0xlv81g9.mp4" type="video/mp4">
        </video>
</div>

<div class="title-container">
    <div class="loginform" ng-submit="client.addClient(app.newClient)">
    <div class="whitelogo">
        <p style="color: #fff" ui-sref="home"> <i class="fa fa-paw" style="color: #fff"></i>whatsPup</p>
</div>
    
        <p class="fblogin">A web application for Pet Sitters to provide real-time updates to their clients.</p>
        <p class="fblogin">Become a member with Facebook.</p>
        <a ng-click="app.sitterlogin()">
            <div class="sitterbtn">
            <div class="flogin-icon"><i class="fa fa-facebook"></i></div>
            <div class="flogin-text">Login</div>
            </div>
        </a>
    </div>
</div>
</div>