<div class="container-fluid clientformctn">
    <form class="form-horizontal formbody">
        <fieldset>

            <legend>
                <h2>New Client Information</h2>
            </legend>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label" for="lastName">Last Name</label>
                    <div class="col-md-">
                        <input id="lastName" name="lastName" type="text" placeholder="Last Name" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="firstName">First Name</label>
                    <div class="">
                        <input id="firstName" name="firstName" type="text" placeholder="First Name" class="form-control input-md">
                    </div>
                </div>
             

                <div class="form-group">
                    <label class="control-label" for="pet">Pet's Name</label>
                    <div class="">
                        <input id="pet" name="pet" type="text" placeholder="Pet's Name" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="">
                        <input id="email" name="email" type="text" placeholder="email@example.com" class="form-control input-md">
                    </div>
                </div>
            </div>
            <!-- this thing here -->


            <div class="col-md-1">
            </div>


            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label" for="phone">Phone Number</label>
                    <div class="">
                        <input id="phone" name="phone" type="text" placeholder="555-867-5309" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="address">Street Address</label>
                    <div class="">
                        <input id="address" name="address" type="text" placeholder="123 Street Name" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="city">City</label>
                    <div class="">
                        <input id="city" name="city" type="text" placeholder="City Name" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="zip">Zip Code</label>
                    <div class="">
                        <input id="zip" name="zip" type="text" placeholder="12345" class="form-control input-md">
                    </div>
                </div>
            </div>
            <!-- another thing here -->

            <div class="form-group">
                <div class="col-md-6">
                    <button id="Submit" name="Submit" class="btn btn-primary btn-lg pull-right">submit</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>