<div class="container">

    <form class="form-horizontal newVisit" id="newVisit">
        <fieldset>

            <!-- Form Name -->
            <legend>New Visit</legend>

            <!-- Select Client -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="clientName">Client Name</label>
                <div class="col-md-4">
                    <select id="clientName" name="clientName" class="form-control">
                        <option value="Coltrane, John">Coltrane, John</option>
                        <option value="Green, Grant">Green, Grant</option>
                        <option value="Hamilton, Chico">Hamilton, Chico</option>
                        <option value="Montgomery, Wes">Montgomery, Wes</option>
                        <option value="Smith, Jimmy">Smith, Jimmy</option>
                        <option value="Szabo, Gabor">Szabo, Gabor</option>
                    </select>
                </div>
            </div>
            <p id="naame">{{client.name}}</p>

            <!-- Food and Water -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="food">Fresh Food and Water</label>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label for="food-0">
                            <input type="checkbox" name="food" id="food-0" value="Food"> Food
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="food-1">
                            <input type="checkbox" name="food" id="food-1" value="Water"> Water
                        </label>
                    </div>
                </div>
            </div>

            <!-- Play / Walk Duration -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="play">Playtime or Walk Duration</label>
                <div class="col-md-4">
                    <select id="play" name="play" class="form-control">
                        <option value="N/A">N/A</option>
                        <option value="5 Minutes">5 Minutes</option>
                        <option value="10 Minutes">10 Minutes</option>
                        <option value="15 Minutes">15 Minutes</option>
                        <option value="20 Minutes">20 Minutes</option>
                        <option value="25 Minutes">25 Minutes</option>
                        <option value="30 Minutes">30 Minutes</option>
                    </select>
                </div>
            </div>

            <!-- Treats -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="treats">Treats</label>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label for="treats-0">
                            <input type="checkbox" name="treats" id="treats-0" value="Yes"> Yes
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="treats-1">
                            <input type="checkbox" name="treats" id="treats-1" value="No"> No
                        </label>
                    </div>
                </div>
            </div>

            <!-- Meds -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="meds">Medications</label>
                <div class="col-md-4">
                    <select id="meds" name="meds" class="form-control">
                        <option value="N/A">N/A</option>
                        <option value="Yes">Yes</option>
                    </select>
                </div>
            </div>

            <!-- Misc -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="misc">Miscellaneous Tasks</label>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label for="misc-0">
                            <input type="checkbox" name="misc" id="misc-0" value="Cleaned Up Pet Mess"> Cleaned Up Pet Mess
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="misc-1">
                            <input type="checkbox" name="misc" id="misc-1" value="Packages Moved Inside"> Packages Moved Inside
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="misc-2">
                            <input type="checkbox" name="misc" id="misc-2" value="Picked Up Mail"> Picked Up Mail
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="misc-3">
                            <input type="checkbox" name="misc" id="misc-3" value="Watered Plants"> Watered Plants
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="misc-4">
                            <input type="checkbox" name="misc" id="misc-4" value="Other (See Message)"> Other (See Message)
                        </label>
                    </div>
                </div>
            </div>

            <!-- Message -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="message">Message</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="message" name="message" placeholder="Write your message here..."></textarea>
                </div>
            </div>

            <!-- Image upload -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="photo">Upload A Photo</label>
                <div class="col-md-4">
                    <input id="photo" name="photo" class="input-file" type="file">
                </div>
            </div>

            <!-- Submit -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit">Submit Visit</label>
                <div class="col-md-4">
                    <button type="submit" id="submit" class="btn btn-primary" value="Submit">Submit</button>
                </div>
            </div>

        </fieldset>
    </form>


</div>